<div class="clear">
    <%= form.label :name, "", :class => "span-3" %>
    <%= form.text_field :name, :class => "prepend-1 span-5" %>

    <%= form.hidden_field :user_id, :value => @current_user.id %>
</div>

