<% title t("teams.title") %>

<div class="clear"></div>
<h1><%= t("teams.title") %></h1>

<%= javascript_include_jqgrid %>
<%= stylesheet_merged :jqgrid %>

<%= jquery_custom_grid(
	[
		{ :field => "name", :label => "Team Name", :width => 200, :align => "center" }
	], { :view => false }
) %>

