<div class="clear"></div>
<h1>Teams</h1>

<%= javascript_include_jqgrid %>

<%= jquery_custom_grid(
	[
		{ :field => "name", :label => "Team Name", :width => 200, :align => "center" }
	], { :edit => false }
) %>

