<% title t("teams.title") %>
<% jqgrid_includes %>

<div class="clear"></div>
<h1><%= t("teams.title") %></h1>
<%= jquery_custom_grid(
	[
		{ :field => "name", :label => "Team Name", :width => 200, :align => "center" }
	], { :edit => true, :add => true, :delete => true }, "Teams list"
) %>

