*.*~
tmp/**
config/*.yml
log/*
.idea/**
.backbone-cached-copy
.DS_Store
public/flash/**
coverage/**

test/
vendor/plugins/composite_primary_keys-1.0.10
vendor/plugins/pm_viral_tuning
vendor/plugins/pm_db
vendor/plugins/rspec-rails
vendor/plugins/bakcground_fu
vendor/plugins/modelful_url
vendor/plugins/facebooker
vendor/plugins/memcache_client
vendor/plugins/cache_fu
vendor/plugins/facebook_app_creator
vendor/plugins/limerick_rake
vendor/plugins/workling
vendor/plugins/spawn
vendor/plugins/rspec
vendor/plugins/pm_calendar
vendor/plugins/pm_models
vendor/plugins/fixturereplacement
vendor/plugins/pm_platform
vendor/plugins/pm_tools
vendor/plugins/rspec_hpricot_matchers
vendor/plugins/paperclip
vendor/rails/activemodel
vendor/rails/release.rb
vendor/rails/pushgems.rb
vendor/rails/railties
vendor/rails/activesupport
vendor/rails/actionpack
vendor/rails/doc
vendor/rails/activerecord
vendor/rails/ci
vendor/rails/actionmailer
vendor/rails/activeresource
vendor/rails/Rakefile
vendor/gems/rack-test-0.4.0
vendor/gems/geoip-0.8.6
vendor/gems/newrelic_rpm-2.10.4
vendor/gems/mechanize-0.8.2
vendor/gems/foreigner-0.4.0
