<div class="menu">
  <div class="span-2">
    <%= link_to 'Games', games_path, :class => "button span-2" %>
  </div>
  <div class="span-2">
    <%= link_to 'Teams', teams_path, :class => "button span-2" %>
  </div>
</div>

