<div class="menu">
  <div class="span-2">
    <%= link_to t("menu.games"), games_path, :class => "button span-2" %>
  </div>
  <div class="span-2">
    <%= link_to t("menu.teams"), teams_path, :class => "button span-2" %>
  </div>
</div>

